@font-face {
  font-family: "Source Sans Pro";
  src: url('../assets/fonts/sourcesanspro/SourceSans3-Bold.ttf');
}

@font-face {
  font-family: "Source Sans Pro Normal";
  src: url('../assets/fonts/sourcesanspro/SourceSans3-Regular.ttf');
}

html {
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  background-color: #2e3440;
}

body {
  margin-bottom: 50px;
}

.box {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  background-color: #434c5e;
  padding: 5px 20px 5px 20px;
  border: 5px solid #3b4252;
  margin-top: 50px;
  box-shadow: 10px 10px #242831;
}

.blog {
  margin-left: auto;
  margin-right: auto;
  font-family: "Source Sans Pro Normal", sans-serif;
  text-align: left;
  text-indent: 50px;
  max-width: 1000px;
  background-color: #434c5e;
  padding: 5px 20px 5px 20px;
  border: 5px solid #3b4252;
  margin-top: 50px;
  box-shadow: 10px 10px #242831;
}

.image-box {
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  background-color: #434c5e;
  border: 5px solid #3b4252;
  margin-top: 50px;
  box-shadow: 10px 10px #242831;
}

img {
  display: block;
}

h1 {
  color: #81a1c1;
}

h2 {
  color: #88c0d0;
}

p, h4 {
  color: white;
}

a:link, a:visited {
  color: #8FBCBB;
}

a:hover {
  color: #7ea7a6;
}
